<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="/">
    <img
      src="https://picsum.photos/id/123/30/30"
      width="50"
      height="50"
      class="d-inline-block align-top"
      alt=""
    />
    BeresinDong!
  </a>

  <a class="m-3" href="/logout"
    ><button class="btn btn-danger">LOGOUT</button></a
  >
</nav>
