<div class="col-4 mt-5 border-start text-center">
    <h2>Your Order Has Benn Submitted</h2>
    <h3>Order Details</h5>
    <p>
      <h4>Description</h6>
      <h6><%= result.description %></h6>
      <br>
      <br>
      <h4>totalPrice</h6>
      <h6><%= result.totalPrice %></h6>
      <br>
      <br>
      <h4>status</h6>
      <h6><%= result.VendorId %></h6>
    </p>
  </div>